<div class = "col1"> <!-- This is the bulk of the body -->
  <div class="blogposts"> <!-- Div containing blogpost links (colorblock) -->
    <div  class="animated fadeInUp" id="animated-example"> <!-- Animation div-->
      <div class="largename" > <!-- Div containing title and blogpost icons -->
        <h1>Recent Blog Posts</h1>
      </div>

      <div class="moreposts">
        <% @posts.each do |page| %>
          <div>
            <a href="<%= page.url %>">
               <img src="<%= page.icon %>" alt="page icon" class="icon"/>
               <br><%= page.title.capitalize.gsub("Post", "Post ") %>
               <br><span class="postdate"><%= page.date %> </span>
            </a>
          </div>
        <% end %>
      </div>

      <div class="downbutton">
        <a href="#allposts"><img src="/downarrow.png" alt="scroll down"/></a>
      </div>
    </div>
  </div>

  <div id="allposts">
    <% @pages.each do |slice| %>
      <% slice.each do |page|%>
        <%= page.content  %>
      <% end %>
    <% end %>
  </div>

  <!-- <p>next</p>
  <p>back</p> -->
</div>
