<!-- <div class="avatar">
  <img src="headshotsqr.jpg" alt="avatar"/>
</div> -->

<div class = "col1">
  <div class="blogposts">
    <div class="largename">
      <h1>Recent Blog Posts</h1>
    </div>
    <ul>
      <% @posts.each do |post| %>
         <li><a href="<%= post.url %>">
           <img src="<%= post.icon %>" alt="post icon" class = "icon"/>
           <%= post.title.capitalize.gsub("Post", "Post ") %>
           <span class="postdate"><%= post.date %> </span>
          </a></li>
      <% end %>
    </ul>
    <div class="downbutton">
      <a href="#allposts"><img src="/downarrow.png" alt="scroll down"/></a>
    </div>
  </div>

  <div id="allposts">
  <% @posts.each do |post| %>
    <%= post.content %>
  <% end %>
  </div>

  <p>next</p>
  <p>back</p>
</div>
